#head
{
    background-color: #316dc3;
    height: 70px;
}
.first{
 font-family: Times;
}
.d-btn
{
    position: relative;
    border: 1px solid black;
    height: 27px;
    top: 15px;
}
.hilao
{
    position: relative;
    margin-top: 15px;
    margin-left: -300px;
}
.all
{
    position: relative;
    top: 15px;
    margin-left:20px;
}
 #fb
{
    border-radius: 10%;
}
#twitter
{
    border-radius: 10%;
    margin-left: 10px;
}
#insta
{

    border-radius: 100%;
    margin-left: 10px;
}
#youtube,#whatsapp
{
    margin-left: 10px;
    border-radius: 10%;
} 
/* Navbar*/
 #navbarDropdownMenuLink{
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color:black;
}
#navbarDropdownMenuLink:hover
{
    background-color: #316dc3;
    color: white; 
    border-radius: 20px;
}
.media-btn:hover{
    background-color: #316dc3;
    border-radius: 20px;
    color: white; 
}
#saylani-logo{
    position: relative;
    left: 89px;
}
.home-button{
    border-radius: 20px;
    height: 40px;
    width: 90px;
    background-color: #316dc3;
    border: none;
    color: white;
    cursor: pointer;
}
.media-btn{
    border-radius: 20px;
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    background-color: #F7F8FA;
    color:black;
}

ul{
    position: relative;
    left: 377px;
} 

/* Carousel */
#Slides
{
    position: absolute; 
}

/* News */

#divNews
{
    background-color: #316DC3;
    height: 30px;
    width: 1000px;
    position: relative;
     left: 200px;
    overflow: hidden;
}
.new
{
    color: white;
    position: absolute;
    white-space: nowrap;
    animation: floatText 9s infinite alternate ease-in-out;
}
@-webkit-keyframes floatText{
    from {
      right: 0%;
    }
  
    to {
      right: 100%;
    }
  }

  /* Para */

.heading
{
    text-align: center;   
    background-color: gainsboro;
    width: auto;
}
#para
{
    background-color: gainsboro;
    /* margin-left: 170px; */
    width: 70%;
    text-align: start;
}
#paragraph
{
    background-color: gainsboro;
}
/* Blue Div */

#details
{
    display: inline;
    border: none;
    line-height: 40px;
    background-color: #316dc3;
}
 .monthly
{
    color: lightgreen;
}
.script
{
 font-weight: bolder;
 margin-left: 12px;
 color:black;
}
.num
{
    margin-left: 48px;
    line-height: 50px;
    color: white;
}
.icon
{
    margin-left: 90px;
} 
body{
    overflow-x: hidden;
}    
/* CARDS */
.cards
{
    left: 60px;
    width: 350px;
    height:180px;
}
/* Mission and upcommig view */

#for-top{
    position: relative;
    top: -70px
}


#mission-heading{
    font-size: 22px; 
    padding-left: 204px;
}

.mission-content{
    width: 350px;
    height: 60px;
}

#hepatitits{
    margin-left: 204px;
}

#housing-scheme{
    margin-left: 580px;
    position: relative;
    top: -67px;
}

#it-literacy{
    margin-left: 204px;
    position: relative;
    top: -53px;
}
#tharparkar{
    margin-left: 580px;
    position: relative;
    top: -121px;
}

#line-img{
    padding-left: 203px;
    padding-bottom: 20px;
}

#upcoming-events{
    font-size: 24px; 
}
#left-side{
    width: 260px;
    height: 205px;
    position: relative;
    top: -415px;
    left: 975px;

}
/* GALLERY */

.gallery
{
    text-align: center;
    height: 280px;
    margin-top: -300px;
}

/* Footer */
@media (max-width: 767px)
#footer .container {
    padding: 70px 15px!important;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.footer-social-icons-title {
    color: #fff;
}